.content {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  .info {
    background-color: #0000000f;
    padding: 8px;
    border-radius: 8px;

    .main {
      display: flex;
      align-items: center;
      gap: 16px;

      .img {
        border-radius: 8px;
        width: 200px;
        height: 200px;
      }
    }
  }
}
